*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Times New Roman", Times, serif;
}
.navigateBar{
    display: flex;
    align-items: center;
    padding:10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 170px;
    background-color: #28282B;
    padding-left: 6%;
    padding-right: 5%;
}
nav{
    flex:1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none; /*to make no bullet*/
}
nav ul li{
    display: inline-block;
    margin-right: 30px; /*seperate the words*/
}
a{ /* style for the links*/
    text-decoration: none; /*no underline*/
    color: #fff;
    font-size: 16pt;
    font-weight: bold;
    transition: 0.3s;
}
a:hover, a:active {font-size: 150%; color:#5C4033;}
p{
    color:#EADDCA;
    font-size: 18px;
    line-break:auto; /*break line in paragraph*/
}
.container{
    max-width: 1700px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
.menuIcon{
    margin-left: 20px;
    margin-top: -6px;
    display: none;
}
@media only screen and (max-width: 800px) {
    nav ul{
        position: absolute;
        top: 70px;
        left:0;
        background:rgb(65, 63, 63);
        margin-top: 10%;
        width: 100%;
        transition: 0.5s;
        overflow: hidden; /*With the hidden value, the overflow is clipped,
         and the rest of the content is hidden:*/
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menuIcon{
        display: block;
        cursor: pointer;
    }
    .logo{
        width: 125px;
    }
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:  space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 104%;
    padding: 50px 0;
}
.col-2 h1{
    color:white;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.butn{
    display: inline-block;
    background:#EADDCA;
    color: #5C4033;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.3s;
}
.butn:hover{
    background: #fff;
}
.first{
    background-color: #5C4033;
    padding: 10px 0px 10px 25px;
}

.header{
    background-color: #28282B;
}
.header .row{
    margin-top: 20px;
}
.coffeeCat{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%; /*to make three 3 columns*/
    min-width:250px;
    margin-bottom: 25px;
}
.col-3 img{
    width: 100%;
}
.smallContainer{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.smallContainer_2{
    max-width: 1700px;
    display: flex;
    margin: auto;
}
.second{
    max-width: 1700px;
    background-color: #5C4033;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 20%; /*to make 4 columns*/
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.3s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: #5C4033;
    font-size: 21pt;
}
.title::after{
    content: '';
    background: #28282B;
    width: 80px;
    height: 5px;
    border-radius:5px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color:#50382d;
    font-weight: normal;
    margin-top: 10px;
}
.col-4 p{
    color: #28282B;
    font-weight: normal;
}

.col-4:hover{
    transform: translateY(-10px);
}
.offer{
    max-width: 1700px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.second{
    background-color: #5C4033;
    padding: 10px 0px 10px 25px;
}
.col-2-offer{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2-offer img{
    max-width: 105%;
    padding: 50px 50px 50px ;
}
.col-2-offer h1{
    text-align: left;
    color: white;
    font-size: 50px;
    line-height: 60px;
    margin: 0 auto ;
}
.col-2-offer p{
    text-align: left;
}

/*------------About--------------*/
.headerAbout{
    background-color: white;
}
.headerAbout p{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 40px;
    color: #5C4033;
    font-size: 15pt;
}
.footer{
    padding: 10px;
    width:100%;
    height:150px;        
    text-align: center;
}
.end{
    cursor: pointer;
    filter: grayscale(100%);
}
.end:hover{
    filter: grayscale(0);
}
/*---------Request----------------*/
.formC{
    font-size: 20px;
    color: #EADDCA;
}
.request{
    background-color: #5C4033;
    max-width: 1700px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 15px;
}
.request form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: left;
}
.request h3{
    font-size: 24px;
    color: #fff;
}
/*------------Contact------------*/
.members .col-4{
    text-align: center;
    padding: 40px, 20px;
    box-shadow: 0 0 10px 0px rgb(243, 238, 238);
    cursor: pointer;
    border-radius: 10%;
}
/*------------Menu---------------*/
.col-4-menu{
    flex-basis: 20%;
    min-width: 300px;
    line-break: auto;
    margin-top: 50px;

}
.col-4-menu img{
    width: 100%;
    border-radius: 60%;
}
.col-4-menu a:hover, a:active{
   color: #EADDCA;
}

/*------------Cart---------------*/
.product-container{
    max-width: 800px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}
.product-container ion-icon{
    font-size: 25px;
    color:rgb(153, 120, 120);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.product-header{
    width:100%;
    max-width: 700px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    /*padding-bottom: 5px;*/
    border-bottom:  1px solid rgb(116, 104, 104);
}
.product-title{
    width: 45%;
    border-bottom:  1px solid rgb(116, 104, 104);
}
.price{
    width: 15%;
    display: flex;
    align-items: center;
    border-bottom:  1px solid rgb(116, 104, 104);
}
.total{
    width: 10%;
    display: flex;
    align-items: center;
    border-bottom:  1px solid rgb(116, 104, 104);
}
.quantity{
    width: 30%;
    display: flex;
    align-items: center;
    border-bottom:  1px solid rgb(116, 104, 104);
}
.items-display{
    max-width: 700px;
    margin: auto;
    flex-wrap: wrap;
    justify-content:  space-around;
    width:100%;
    display: flex;
}
.product{
    width: 45%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom:  1px solid rgb(116, 104, 104);
}
.product img{
    max-width: 50%;
}
.basketTotalContainer{
    display: flex;
    max-width: 650px;
    justify-content: flex-end;
    text-align: end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle {
    width: 30%;
}
.basketTotal{
    width: 10%;
    font-weight: bold;
}

/*------------Location------------*/
.location p{
    line-height: 50px;
    font-size: 15pt;
    margin-top: 20px;
}
.location h2{
    color: #EADDCA;
    font-weight: bold;
    font-size: 20pt;
}
.location{
    max-width: 1700px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.location .col-2{
    display: flex;
}